
<div class="container">
  <!-- Carousel Container -->
  <div class="carousel-container">
    <h1>Angular Carousel</h1>
<!-- Timer for moving dynamic slides can be set from the attributes inside this below div, as well as pause on hovering can also be achieved by removing the data-bs-pause attribute  -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4500" data-bs-pause="false"> 
      <!-- this is the indicator that shows in which slide the current tab is hovering -->
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" *ngFor="let slide of slides; let i = index" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
          <img [src]="slide.imageUrl" class="d-block w-100" alt="Slide {{i}}">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ slide.caption }}</h5>
        
          </div>
        </div>
      </div>
  <!-- Control Buttons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"> 
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"> </span>      
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  </div>

  <!-- List of Slides with Delete Button -->
  <div class="row mt-4">
    <div class="col">
      <h3>Added Slides</h3>
      <ol class="list-group">
        <li class="list-group-item" *ngFor="let slide of slides; let i = index">
          <div class="bullet-item">
            <span> slide {{i+1}}</span>
            <button class="delete-btn" (click)="deleteSlide(i)"><i class="fa-solid fa-trash"></i></button>
          </div>
        </li>
      </ol>
    </div>
  </div>

  <!-- Form to Add New Slide -->
 <div class="row mt-4">
    <div class="col">
      <h3>Add New Slide</h3>
      <form (ngSubmit)="addSlide()" #slideForm="ngForm">
        <div class="mb-3">
          <label for="imageUrl" class="form-label">Image URL:</label>
          <input type="text" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="newSlide.imageUrl" required>
        </div>
        <div class="mb-3">
          <label for="caption" class="form-label">Caption:</label>
          <input type="text" class="form-control" id="caption" name="caption" [(ngModel)]="newSlide.caption" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="slideForm.invalid">Add Slide</button>
      </form>
    </div>
  </div>
</div> 




